
* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
	background: #D3E3F1;
	
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #FFC61A;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #FFC61A;
	font-size: .99em;
}

.main-nav a:hover {
	color: #f5de9a;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #040E5B;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#video_container {
	background: #000;
	position: relative;
	width: 640px; 
	height: 480px;
	overflow: hidden;
	
	left: 30%;
}

#video_feed {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: auto;
	display: none;
}





@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

.landingcontainer {
    display: flex;
    padding: 20px;
/*     background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}


.landingtext {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landingwelcomeText {
    font-size: 66px;
    font-weight: bold;
    color: #f8c200;
    margin-bottom: 8px;
}



  .landingimage {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .landingimage-circle {
    width: 100%;
    height:100%;
    background-color: #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
	border: 3px solid #ffc61a;
  }

  .landingimage-circle img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
	
  }

