<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="..\static\interview.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
                  <div class="col-xs-12 col-md-4">
                      <div class="color-block-wrapper">
                          <div class="color-block color-block-lblue color-block-icon-list">
                              
                              <div class="color-block-text">
                                   Online payment <br>
                                   by debt number
                              </div>
                          </div>
                          <div class="color-block-bottom">
                            <a href="#" class="btn btn-transparent-lblue">Pay by number</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12 col-md-4">
                      <div class="color-block-wrapper">
                          <div class="color-block color-block-dblue color-block-icon-person">
                              <div class="color-block-head">
                                  Without registering
                              </div>
                              <div class="color-block-text">
                                   Online payment <br>
                                   by name
                              </div>
                          </div>
                          <div class="color-block-bottom">
       <a href="#" class="btn btn-transparent">Pay by name</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-12 col-md-4">
                      <div class="color-block-wrapper">
                          <div class="color-block color-block-green color-block-icon-lock">
                              <div class="color-block-head">
                                   Without communication
                              </div>
                              <div class="color-block-text">
                                   Payment through personal account
                              </div>
                          </div>
                          <div class="color-block-bottom">
       <a href="#" class="btn btn-transparent-green">Personal offer</a>
                          </div>
                      </div>
                  </div>
              </div>
      </div>
</body>
</html>